name: "github workflow test"

on:
  create:
    branches:
      - "feature/*"

jobs:
  echo_event:
    name: "echo_event"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Display github.ref_name
        run: echo ${{ github.ref_name }}


